@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="col-12">
        <h1 class="display-4">Welcome</h1>
        <br/>
        Technologies used
        <ol>
            <li>ASP.NET Core Web App (MVC) .Net 6</li>
            <li>ASP.NET Core Web Api</li>
            <li>ASP.NET Core Identity</li>
            <li>Entity Framework Core</li>
            <li>Bootstrap 5</li>
            <li>jQuery 3.5.1</li>
            <li>SQL Server 2022</li>
            <li>xUnit.Net Test</li>
        </ol>
        <br />
        Tools
        <ol>
            <li>Visual Studio 2022</li>
            <li>Sql Server Management Studio</li>
        </ol>
        <br />
        <br />

    </div>
</div>