<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Font Awesome Icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" type='text/css'>

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i>&nbsp;Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                @{
                    var controllerName = string.Empty;
                    object controllerObj;
                    var actionName = string.Empty;
                    object actionObj;

                    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
                    {
                        controllerName = controllerObj.ToString();
                    }

                    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
                    {
                        actionName = actionObj.ToString();
                    }
                }
                @if (controllerName == "Note")
                {
                    <div class="col-xl-5 col-md-5 col-sm-5 col-5 nav navbar-nav navbar-center">
                        <div class="input-group justify-content-between">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary" type="submit" name="button" value="" id="Search" title="Search">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" id="Search" placeholder="Search..." />
                        </div>
                    </div>
                }
                <div class="navbar-collapse collapse d-sm-inline-flex navbar-right">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (controllerName != "Note")
                            {
                                <a class="navbar-brand" asp-area="" asp-controller="Note" asp-action="Index">Note</a>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ASP.NET Core MVC Web Application
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>